/* COLORS */

:root {
    --color-first-card:      hsl(31, 77%, 52%);
    --color-second-card:     hsl(184, 100%, 22%);
    --colot-third-card:      hsl(179, 100%, 13%);

    --color-paragraphs:      hsla(0, 0%, 100%, 0.75);
    --color-bg-headings-btn: hsl(0, 0%, 95%);
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    display: flex;
    height: 500px;
    border-top-right-radius: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.first-card {
    background-color: var(--color-first-card);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 14px;
}

.second-card {
    background-color: var(--color-second-card);
}

.third-class {
    background-color: var(--colot-third-card);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
    width: 250px;
    padding: 60px 40px;
}


article img {
    max-width: max-content;
}

article h1 {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    color: var(--color-bg-headings-btn);
    font-size: 2rem;
}

article p {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--color-paragraphs);
    font-size: 15px;
    padding-bottom: 60px;
    line-height: 30px;
    width: 80%;
}

button {
    border: none;
    width: fit-content;
    background-color: white;
    padding: 15px 20px;
    border-radius: 35px;
    width: 50%;
    font-weight: bold;
    text-transform: capitalize;
}

.first-card button {
    color: var(--color-first-card);
}

.second-card button {
    color: var(--color-second-card);
}

.third-card button {
    color: var(--color-first-card);
}

@media (min-width: 676px)and (max-width: 1005px) {
    
    .second-card {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .third-class {
      border-radius: 15px;
    }


  
}

@media (max-width: 675px) {
    
    .first-card {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }

    .third-class {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .body {
        display: block;
    }
}